<style  type="text/css"> 
cool {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
</style>

<b><center>
<span style="font-size: 24pt; line-height: 1.2">
COMS W4111: Introduction to Databases<br>
Spring 2023, Sections 003
</span>
</center></b>
</span><br>
<p>
<i><center>
<span style="font-size: 20pt; line-height: 1.2">
Lecture 1: Examples<br>
</span>
</center></i>

# Setup

- Using the examples requires installing [ipython-sql.](https://pypi.org/project/ipython-sql/)


- Instructions: https://www.geeksforgeeks.org/how-to-install-ipython-sql-package-in-jupyter-notebook/


- You may also need to install [pymysql](https://pypi.org/project/PyMySQL/) and [SQLAlchemy](https://www.sqlalchemy.org/).


- You must replace ```root:dbuserdbuser``` with the user ID and password you defined when installing MySQL.

In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://root:dbuserdbuser@localhost

In [3]:
%sql use db_book;

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [4]:
%sql select ID, name from instructor where dept_name='Comp. Sci.'

 * mysql+pymysql://root:***@localhost
3 rows affected.

[('10101', 'Srinivasan'), ('45565', 'Katz'), ('83821', 'Brandt')]